.pixiGrid {
    margin-top: 3rem;
}

.sketchMini {
    display: inline-block;
    border: black 1px solid;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
